{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Project Description</h1>
    <p>This is a live score app where you can upload live score between two teams and that score will get updated using ajax.</p>
    <h1>My Introduction!</h1>
    <p>Hi, I'm <a href="https://www.saadatali.dev">Saadat Ali</a> and I've created this mini project.</p>
    <p>The main purpose of this project is to help someone who wanna learn HTMX and it's use in a Django Project.</p>
    <p>Please Follow me on <a href="https://github.com/SaadatAliKlasra">Github</a> or contact me on <a href="https://www.fiverr.com/saadataliklasra">Fiverr</a></p>

</div>
{% endblock content %}